// Colors
$sidebarBgr: #363740;
$mainBgr: #e5e5e5;
$sidebarTextColor: #a4a6b3;
$sidebarActiveTab: #dde2ff;
$mainDarkTextColor: #252733;
$lightGreyTextColor: #9fa2b4;
$smallTextColor: #c5c7cd;
$brandColor: #3751FF;
$highBtnColor: #f12b2c;
$lowBtnColor: #fec400;
$normalBtnColor: #29cc97;
$borderColor: #dfe0eb;

// Font sizes
$numbers: 40px;
$mainHeader: 24px;
$secondaryHeader: 20px;
$tableMainText: 14px;
$tableSmallText: 12px;
$btnText: 11px;